@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto+Serif:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

.dark-text {
  color: #697177;
}

.card-text {
  color: #697177;
}

body {
  font-family: Roboto Serif, sans-serif;
  font-weight: 300;
  color: #697177;
}

.max-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* headings and paragraphs */

h1,
h2 {
  font-family: Redressed, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  color: #697177;
  text-align: center;
  padding: 5px;
  font-size: 160%;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 5px;
  font-size: 120%;
}

p {
    padding: 5px;
}

/* navigation links */

#menu {
  font-weight: 600;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  font-family: Redressed, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #697177;
  float: left;
  font-size: 140%;
}

#menu a:hover {
  color: #F7BFB7;
  border-bottom: 1px solid #F7BFB7;
}

/* Map page style */

#map,
.map {
  position: static !important;
}

.map-container {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 5px auto;
}

/* sections */

#map {
  width: 33%;
  text-align: center;
}

#destination-picker p {
    text-align: center;
}

/* images */

#hero-image {
  width: 100%;
  min-height: 93vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-container{
  max-width: 1920px;
  min-height: 93vh;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#welcome-message {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  text-align: left;
  color: #fff;
  max-width: 400px;
}

#welcome-message h2{
  text-align: left;
}

#quotes {
  position: absolute;
  bottom: 0;
  right: 0;
  
  max-width: 400px;
  color: #fff;
}

/* columns and rows */
.column {
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
}

.row {
  clear: both;
  display: table;
}

/* footer */

footer {
  min-height: 100px;
  background-color: #697177;
  color: #fff
}

.social-media-icons > li {
  display: inline;
}

.social-media-icons i {
  font-size: 160%;
  color: #fff;
}

.social-media-icons i:hover {
  color: #F7BFB7;
}

.team-name-links a {
  color: #fff;
  text-decoration: none;
}

.team-name-links a:hover {
  color: #F7BFB7;
}

@media only screen and (max-width: 900px) {
    .map-container{
        height: 30vh;
        margin:0;
        border:5px solid aliceblue;
    }
  }

/* image containers */

#card-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location-images {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 50px 15px;
  padding: 0;
  justify-content: center;

  border-radius: 10px;
  box-shadow: 5px 10px 50px #555555;
}

