@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto+Serif:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

.dark-text {
  color: #212121;
}

body {
  font-family: Roboto Serif, sans-serif;
  font-weight: 300;
  color: #212121;
}

.max-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* headings and logo */

h1,
h2 {
  font-family: Redressed, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #db073d;
  text-align: center;
  padding: 5px;
  font-size: 140%;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 5px;
  font-size: 120%;
}

/* navigation links */

#menu {
  font-weight: 600;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

/* Map page style */

#map,
.map {
  position: static !important;
}

.map-container {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 92.5%;
  margin: 5px auto;
  /* border: 10px solid aliceblue; */
}

#menu a {
  text-decoration: none;
  font-family: Redressed, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #db073d;
  float: left;
  font-size: 140%;
}

#menu a:hover {
  border-bottom: 1px solid #db073d;
}

.active {
  border-bottom: 1px solid #db073d;
}

/* sections */

#welcome-message {
  width: 45%;
  float: left;
}

#welcome-message h2 {
  text-align: left;
}

#quotes {
  width: 45%;
  float: right;
}

#map {
  width: 33%;
  text-align: center;
}

/* images */

#hero-image {
  width: 100%;
  height: 800px;
  background: url("https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    no-repeat center bottom;
  overflow: hidden;
}

/* columns and rows */
.column {
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
}

.row {
  clear: both;
  display: table;
}

/* footer */

footer {
  min-height: 100px;
  background-color: #db073d;
  color: white;
}

.social-media-icons > li {
  display: inline;
}

.social-media-icons i {
  font-size: 160%;
  color: white;
}

.team-name-links a {
  color: #fff;
  text-decoration: none;
}

.team-name-links a:hover {
  color: #000;
}

@media only screen and (max-width: 900px) {
    .map-container{
        width: 100%;
        height: 30vh;
        margin:0;
        border:5px solid aliceblue;
    }
  }